/*==== Pre-settings =======================================*/
*{-webkit-box-sizing: border-box;box-sizing: border-box; margin: 0; padding: 0; -webkit-transition: opacity 300ms ease; -o-transition: opacity 300ms ease; transition: opacity 300ms ease;}
html {scroll-behavior: smooth; overflow-x: hidden;}
body {font-family: sans-serif; overflow-x: hidden;}
a,a:visited{text-decoration: none; color: inherit; display: block; width: 100%; height: 100%;}
a:hover {text-decoration: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}

/*==== Customized Classes ==============================*/

.text-montserrat {font-family: 'Montserrat', sans-serif;}
.text-bold {font-weight: 800;}
.text-light {font-weight: 300;}
.space-01 {letter-spacing: .1rem;}
.space-02 {letter-spacing: .2rem;}
.space-03 {letter-spacing: .3rem;}
.mb-2 {margin-bottom: 2rem;}
.mr-2 {margin-right: 2rem;}


/*==== Variables ======================================*/
:root {
	--green: #76F34C;
	--pink: #DF65F8;
	--blue: #5CA8F4;
	--red: #F56E80;
	--violet: #9D56F0;
}





body {
	background-color: #333;
	color: #ddd;
	font-family: 'Questrial', sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

/*==== Sidebar Navigation ===========================*/

.sidebar-nav {
	width: 18%;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background: -o-linear-gradient(45deg, #000, #000, #333);
	background: linear-gradient(45deg, #000, #000, #333);
	position: fixed;
	-webkit-box-shadow: 0 5px 5px #111;
	        box-shadow: 0 5px 5px #111;
}

.main-logo-block {
	width: 100%;
	height: 28%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	letter-spacing: .1rem;
}

.main-logo {
	font-size: 2rem;
	color: #fff;
	line-height: 1.8rem;
	text-shadow: 0 0 5px #111;
}

.main-logo-subtitle {
	margin-top: 1rem; 
	letter-spacing: .1rem;
	color: #F79F1F;
}

.nav-list {
	width: 100%;
	height: 72%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-top: 1rem;
}

.nav-list-item {
	padding: 1rem 2rem;	
	letter-spacing: 0.2rem;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.nav-list-item:hover,
.nav-list-item:focus,
.nav-list-item:active {
	background: #222;
}

.nav-item-block {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.nav-item-about:hover {border-left: 8px solid var(--green);}
.nav-item-projects:hover {border-left: 8px solid var(--pink);}
.nav-item-skills:hover {border-left: 8px solid var(--blue);}
.nav-item-contact:hover {border-left: 8px solid var(--red);}
.nav-item-resume:hover {border-left: 8px solid var(--violet);}

.nav-item-icon {
	width: 2rem;
	height: 2rem;
	margin-right: 1rem;
}


/*==== Main Content =====================================*/

.mobile-menu-btn {display: none;}

.mobile-menu {display: none;}

.mobile-header {display: none;}

.main-content {
	width: 82%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: 18%;
}

.intro-section {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding-top: 4rem;
	background: -o-linear-gradient(140deg, 
    	#111, #7D8BBF, #333, #836D8B, #111,
    	#333, #84557E, #111, #7D8BBF, #333,
    	#111, #333, #7D8BBF, #4C5184, #333);
	background: linear-gradient(310deg, 
    	#111, #7D8BBF, #333, #836D8B, #111,
    	#333, #84557E, #111, #7D8BBF, #333,
    	#111, #333, #7D8BBF, #4C5184, #333);
    background-size: 1000% 1000%;

    -webkit-animation: bgGradient 80s ease infinite;
    animation: bgGradient 80s ease infinite;
}

@-webkit-keyframes bgGradient {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}
@keyframes bgGradient {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}




.intro-content {
	width: 100%;
	height: 100%;
}

.intro-heading-block {
	width: 70%;
	height: auto;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.intro-heading {
	font-size: 1rem;
	letter-spacing: .1rem;
	color: #ccc;
	padding: 1rem 1.5rem;
	border: 1px solid #ccc;
	border-radius: 100px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.website-scheme {
	width: 50rem;
	height: 25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 1rem auto 0 auto;
}

.green-block {
	width: 100%;
	height: 20%;
	background: var(--green);
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 6px #333;
	        box-shadow: 0 3px 6px #333;
	padding: 0 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-animation: translatingGreen 2000ms linear;
	        animation: translatingGreen 2000ms linear;
}

@-webkit-keyframes translatingGreen {
	0%{-webkit-transform: translateY(-500%);transform: translateY(-500%);}
	100%{-webkit-transform: translateY(0);transform: translateY(0);}
}

@keyframes translatingGreen {
	0%{-webkit-transform: translateY(-500%);transform: translateY(-500%);}
	100%{-webkit-transform: translateY(0);transform: translateY(0);}
}

.blue-circle {
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	background: -o-linear-gradient(30deg, #C02EEA, #82A2C4);
	background: linear-gradient(60deg, #C02EEA, #82A2C4);
	-webkit-box-shadow: 0 3px 6px #333;
	        box-shadow: 0 3px 6px #333;
	-webkit-animation: fadeInBlue 3600ms linear;
	        animation: fadeInBlue 3600ms linear;
}

@-webkit-keyframes fadeInBlue {
	0%{opacity: 0;}
	95%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes fadeInBlue {
	0%{opacity: 0;}
	95%{opacity: 0;}
	100%{opacity: 1;}
}

.white-block {
	width: 5rem;
	height: 1rem;
	border-radius: 100px;
	background: -o-linear-gradient(30deg, #74A8D0, #DCE0E4);
	background: linear-gradient(60deg, #74A8D0, #DCE0E4);
	-webkit-box-shadow: 0 3px 6px #333;
	        box-shadow: 0 3px 6px #333;
	-webkit-animation: fadeInWhite 3800ms linear;
	        animation: fadeInWhite 3800ms linear;
}

@-webkit-keyframes fadeInWhite {
	0%{opacity: 0;}
	95%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes fadeInWhite {
	0%{opacity: 0;}
	95%{opacity: 0;}
	100%{opacity: 1;}
}

.yellow-little-block {
	width: 4rem;
	height: 2rem;
	border-radius: 1rem;
	background: -o-linear-gradient(30deg, #F3944D, #F6F992);
	background: linear-gradient(60deg, #F3944D, #F6F992);
	-webkit-box-shadow: 0 3px 6px #333;
	        box-shadow: 0 3px 6px #333;
	-webkit-animation: fadeInYellow 4000ms linear;
	        animation: fadeInYellow 4000ms linear;
}

@-webkit-keyframes fadeInYellow {
	0%{opacity: 0;}
	95%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes fadeInYellow {
	0%{opacity: 0;}
	95%{opacity: 0;}
	100%{opacity: 1;}
}

.website-scheme-row {
	width: 100%;
	height: 78%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.pink-block {
	width: 18%;
	height: 100%;
	background: var(--pink);
	-webkit-box-shadow: 0 3px 6px #333;
	        box-shadow: 0 3px 6px #333;
	border-radius: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 4rem 2rem;
	-webkit-animation: translatingPink 2300ms ease;
	        animation: translatingPink 2300ms ease;
}

@-webkit-keyframes translatingPink {
	0%{-webkit-transform: translateX(-500%);transform: translateX(-500%);}
	100%{-webkit-transform: translateX(0);transform: translateX(0);}
}

@keyframes translatingPink {
	0%{-webkit-transform: translateX(-500%);transform: translateX(-500%);}
	100%{-webkit-transform: translateX(0);transform: translateX(0);}
}

.website-scheme-col-1 {
	width: 65%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.yellow-block {
	width: 100%;
	height: 55%;
	background: #fed330;
	-webkit-box-shadow: 0 3px 6px #333;
	        box-shadow: 0 3px 6px #333;
	border-radius: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 2rem 4rem;
	-webkit-animation: translatingYellow 2600ms ease;
	        animation: translatingYellow 2600ms ease;
}

@-webkit-keyframes translatingYellow {
	0%{-webkit-transform: translateY(300%);transform: translateY(300%);}
	100%{-webkit-transform: translateY(0);transform: translateY(0);}
}

@keyframes translatingYellow {
	0%{-webkit-transform: translateY(300%);transform: translateY(300%);}
	100%{-webkit-transform: translateY(0);transform: translateY(0);}
}

.grey-line {
	width: 100%;
	height: .2rem;
	background: -o-linear-gradient(30deg, #737E70, #E7E8DA);
	background: linear-gradient(60deg, #737E70, #E7E8DA);
	-webkit-animation: fadeInGrey 4300ms linear;
	        animation: fadeInGrey 4300ms linear;
}

@-webkit-keyframes fadeInGrey {
	0%{opacity: 0;}
	95%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes fadeInGrey {
	0%{opacity: 0;}
	95%{opacity: 0;}
	100%{opacity: 1;}
}

.blue-block {
	width: 100%;
	height: 43%;
	background: var(--blue); 
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 6px #333;
	        box-shadow: 0 3px 6px #333;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 2rem 4rem;
	-webkit-animation: translatingBlue 2800ms ease;
	        animation: translatingBlue 2800ms ease;
}

@-webkit-keyframes translatingBlue {
	0%{-webkit-transform: translateY(400%);transform: translateY(400%);}
	100%{-webkit-transform: translateY(0);transform: translateY(0);}
}

@keyframes translatingBlue {
	0%{-webkit-transform: translateY(400%);transform: translateY(400%);}
	100%{-webkit-transform: translateY(0);transform: translateY(0);}
}

.green-little-block {
	width: 5.6rem;
	height: 4rem;
	background: -o-linear-gradient(30deg, #DBF84B, #6DF84B);
	background: linear-gradient(60deg, #DBF84B, #6DF84B);
	-webkit-box-shadow: 0 3px 6px #333;
	        box-shadow: 0 3px 6px #333;
	-webkit-animation: fadeInGreen 4600ms linear;
	        animation: fadeInGreen 4600ms linear;
}

@-webkit-keyframes fadeInGreen {
	0%{opacity: 0;}
	95%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes fadeInGreen {
	0%{opacity: 0;}
	95%{opacity: 0;}
	100%{opacity: 1;}
}



.website-scheme-col-2 {
	width: 15%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.violet-block {
	width: 100%;
	height: 65%;
	background: var(--violet);
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 6px #333;
	        box-shadow: 0 3px 6px #333;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 2rem 0.5rem;
	-webkit-animation: translatingViolet 3000ms ease;
	        animation: translatingViolet 3000ms ease;
}

@-webkit-keyframes translatingViolet {
	0%{-webkit-transform: translateX(300%);transform: translateX(300%);}
	100%{-webkit-transform: translateX(0);transform: translateX(0);}
}

@keyframes translatingViolet {
	0%{-webkit-transform: translateX(300%);transform: translateX(300%);}
	100%{-webkit-transform: translateX(0);transform: translateX(0);}
}

.red-block {
	width: 100%;
	height: 33%;
	background: var(--red);
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 6px #333;
	        box-shadow: 0 3px 6px #333;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 1rem 0.5rem;
	-webkit-animation: translatingRed 3300ms ease;
	        animation: translatingRed 3300ms ease;
}

@-webkit-keyframes translatingRed {
	0%{-webkit-transform: translateX(600%);transform: translateX(600%);}
	100%{-webkit-transform: translateX(0);transform: translateX(0);}
}

@keyframes translatingRed {
	0%{-webkit-transform: translateX(600%);transform: translateX(600%);}
	100%{-webkit-transform: translateX(0);transform: translateX(0);}
}



/*==== Sections ==========================================*/

.section-heading {
	width: 100%;
	font-size: 2rem;
	letter-spacing: .3rem;
	padding: 3rem 0;
	text-shadow: 0 0 3px #000;
}

.about-heading {color: var(--green);}
.projects-heading {color: var(--pink);}
.skills-heading {color: var(--blue);}
.contact-heading {color: var(--red);}
.resume-heading {color: var(--violet);}

.section-content {
	padding: 2rem 3rem;
}


/*==== About Section ======================================*/

.about-section {
	width: 100%;
	height: auto;
	background: #fff;
	color: #555;
	padding-bottom: 5rem;
}

.center-content {
	width: 75%;
	margin: 0 auto;
}

.cite {
	border-left: 4px solid var(--green);
	background: #f5f5f5;
	padding: 1rem 1rem 1rem 2rem;
	letter-spacing: 0.1rem;
	line-height: 1.8rem;
}

.developer-img {
	width: 130px;
	height: 130px;
	background: url(../img/01.jpeg);
	background-size: cover;
	border-radius: 100px;
	float: right;
	-webkit-box-shadow: 0 3px 6px #333;
	        box-shadow: 0 3px 6px #333;
}

.section-text {
	margin: 2rem 0;
	letter-spacing: 0.1rem;
	line-height: 1.9rem;
	font-size: 1.2rem;
}

.section-text span {
	color: #111;
	font-weight: 800;
}

.contact-icons-block {
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.contact-item {
	width: 2rem;
	height: 2rem;
}

.contact-icon {
	max-width: 100%;
	max-height: 100%;
	cursor: pointer;
	-webkit-filter: drop-shadow(0 3px 2px #333);
	        filter: drop-shadow(0 3px 2px #333);
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.contact-icon:hover {
	-webkit-animation: iconScale .4s ease;
	        animation: iconScale .4s ease;
}

@-webkit-keyframes iconScale {
	0% {-webkit-transform: scale(0.95);transform: scale(0.95);}
	25% {-webkit-transform: scale(1.2);transform: scale(1.2);}
	50% {-webkit-transform: scale(0.9);transform: scale(0.9);}
	75% {-webkit-transform: scale(1.1);transform: scale(1.1);}
	100% {-webkit-transform: scale(1);transform: scale(1);}
}

@keyframes iconScale {
	0% {-webkit-transform: scale(0.95);transform: scale(0.95);}
	25% {-webkit-transform: scale(1.2);transform: scale(1.2);}
	50% {-webkit-transform: scale(0.9);transform: scale(0.9);}
	75% {-webkit-transform: scale(1.1);transform: scale(1.1);}
	100% {-webkit-transform: scale(1);transform: scale(1);}
}


/*==== Projects Section =================================*/

.projects-section {background: #111;}

.projects-grid {
	width: 100%;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.project-card {
	height: 25rem;
	padding: 2rem 4rem;
}

.card-01 {background: -o-linear-gradient(45deg, #f953c6, #b91d73);background: linear-gradient(45deg, #f953c6, #b91d73);}
.card-02 {background: -o-linear-gradient(45deg, #8E2DE2, #4A00E0);background: linear-gradient(45deg, #8E2DE2, #4A00E0);}
.card-03 {background: -o-linear-gradient(45deg, #fc4a1a, #f7b733);background: linear-gradient(45deg, #fc4a1a, #f7b733);}
.card-04 {background: -o-linear-gradient(45deg, #800080, #ffc0cb);background: linear-gradient(45deg, #800080, #ffc0cb);}
.card-05 {background: -o-linear-gradient(45deg, #41295a, #2F0743);background: linear-gradient(45deg, #41295a, #2F0743);}
.card-06 {background: -o-linear-gradient(45deg, #76b852, #8DC26F);background: linear-gradient(45deg, #76b852, #8DC26F);}
.card-07 {background: -o-linear-gradient(45deg, #F7971E, #FFD200);background: linear-gradient(45deg, #F7971E, #FFD200);}
.card-08 {background: -o-linear-gradient(45deg, #4568DC, #B06AB3);background: linear-gradient(45deg, #4568DC, #B06AB3);}
.card-09 {background: -o-linear-gradient(45deg, #6a3093, #a044ff);background: linear-gradient(45deg, #6a3093, #a044ff);}
.card-10 {background: -o-linear-gradient(45deg, #EB3349, #F45C43);background: linear-gradient(45deg, #EB3349, #F45C43);}

.project-card-img {
	width: 100%;
	height: auto;
	border-radius: 6px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.project-card-img:hover {
	-webkit-box-shadow: 0 6px 8px #222;
	        box-shadow: 0 6px 8px #222;
}

.project-card-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 2rem;
}

.project-name {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 0 5px #222;
}

.project-card-text ul {padding-left: 1rem; color: #fff;}

.arrow-right {
	width: 1.6rem;
	height: auto;
}

.project-link {
	width: 8rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 6px;
	border: 1px solid #fff;
	padding: .5rem 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.project-link:hover,
.project-link:focus {
	background: var(--pink);
	border: 1px solid var(--pink);
	color: #fff;
	-webkit-box-shadow: 0 3px 6px #222;
	        box-shadow: 0 3px 6px #222;
	border: none;
}


/*==== Skills Section ============================*/

.skills-section {
	background: #fff;
	color: #111;
}

.skills-container {
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 0 auto;
}

.img-container {
	width: 100%;
	height: auto;
	padding: 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #eee;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-moz-transition: .3s;
}

.img-container:hover {
	-webkit-box-shadow: 0 3px 6px #ddd;
	        box-shadow: 0 3px 6px #ddd;
}

.skill-link {
	display: block;
	width: 15%;
}

.skill-logo {
	max-width: 4rem;
	width: auto;
	max-height: 4rem;
	height: auto;
	opacity: .8;
	-webkit-filter: drop-shadow(0 3px 3px #333);
	        filter: drop-shadow(0 3px 3px #333);
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	cursor: pointer;
}

.skill-logo:hover { 
	opacity: 1;
}

.skill-description {
	width: 85%;
	color: #555;
	letter-spacing: 1px;
	line-height: 1.1rem;
}

.description-heading {
	font-size: 1.4rem;
	font-weight: 800;
	letter-spacing: .1rem;
	margin: 0 0 .5rem 0;
}

.continued-p {margin-top: 1rem;}




/*==== Contact Section ===================================*/

.contact-section {
	background: #111;
	padding: 0 0 5rem 0;
}

.contact-wrapper {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 2fr 1fr;
	grid-template-columns: 2fr 1fr;
}

.phone-block {-webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1;}

.phone-number {
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.phone-number:hover {color: var(--red);}

.messenger-icons-block {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: .5rem 0;
}

.footer-contact-icon {
	margin-top: .5rem;
	width: 2rem;
	height: 2rem;
}

.contact-options-block {
	padding: 2rem 0 1rem 4rem;
	-ms-grid-column: 2;
	    grid-column-start: 2;
   	-ms-grid-row: 1;
   	    grid-row-start: 1;
   	-ms-grid-row-span: 2;
   	grid-row-end: 3;
   	-webkit-box-ordinal-group: 3;
   	    -ms-flex-order: 2;
   	        order: 2;
}

.contact-options-item {
	margin-bottom: 1.4rem;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.contact-options-item:hover {color: var(--red);}

.email-block {-webkit-box-ordinal-group: 4;-ms-flex-order: 3;order: 3;}


/*==== Resume Section ==============================*/

.resume-section {
	background: #111;
	padding-bottom: 5rem;
}

.resume-heading {color: var(--violet);}

.resume-pdf {
	width: 100%;
	height: 20rem;
}

.download-link {
	width: auto;
	background: #DF65F8;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 1rem 2rem;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.download-link:hover {
	background: var(--violet);
	color: #fff;
	-webkit-box-shadow: 0 3px 6px #222;
	        box-shadow: 0 3px 6px #222;
}

.certificate-container {
	width: 100%;
	padding: 3rem 0;
}

.certificate-image {
	max-width: 100%;
	height: auto;
}











/*==== Media Queries ======================================*/
@media (max-width: 1025px) {
	.sidebar-nav {display: none;}
	.mobile-header {
		display: block;
		width: 100%;
		background: -o-linear-gradient(45deg, #000, #333);
		background: linear-gradient(45deg, #000, #333);
		text-align: center;
		padding: 1.5rem 2rem;
		-webkit-box-shadow: 0 0 8px #000;
		        box-shadow: 0 0 8px #000;
		position: fixed;
		z-index: 32;
	}
	.mobile-menu-btn {
		width: 4rem;
		height: 4rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: .5rem;
		background: -o-linear-gradient(45deg, #16222A, #3A6073);
		background: linear-gradient(45deg, #16222A, #3A6073);
		border-radius: 100px;
		-webkit-box-shadow: 0 0 5px #333;
		        box-shadow: 0 0 5px #333;
		position: fixed;
		top: 1rem;
		left: 1rem;
		z-index: 33; 
	}
	.mobile-menu-icon {
		width: 65%;
		height: auto;
	}
	.mobile-menu {
		display: block;
		background: #000;
		padding: 5rem 2rem;
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s;
		width: 50%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 99;
		overflow: auto;
	}
	.close-icon {
		width: 2rem;
		height: 2rem;
		position: absolute;
		top: 4%;
		right: 10%;
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s;
	}
	.mobile-nav-item {
		list-style: none;
		color: #fff;
		font-weight: 700;
		letter-spacing: .1rem;
		font-size: 3rem;
		padding: 1.6rem;
	}
	.mobile-menu-item-dash {
		display: inline-block;
		width: 1.8rem;
		height: .25rem;
	}

	.about-dash {background: var(--green);}
	.projects-dash {background: var(--pink);}
	.skills-dash {background: var(--blue);}
	.contact-dash {background: var(--red);}
	.resume-dash {background: var(--violet);}

	.intro-section {
		height: auto;
		padding: 10rem 0 5rem 0;
	}
	.main-content {
		width: 100%;
		margin: 0;
	}
	.skill-logo {opacity: 1;}
	.footer-contact-icon {
		width: 2.5rem;
		height: 2.5rem;
	}
	.contact-options-block {-webkit-box-ordinal-group: 4;-ms-flex-order: 3;order: 3;}
	.email-block {-webkit-box-ordinal-group: 3;-ms-flex-order: 2;order: 2;}
}




@media (max-width: 769px) {
	.main-logo {
		font-size: 1.6rem;
		line-height: 1.2rem;
	}
	.intro-heading-block {width: 90%;}
	.website-scheme {
		width: 100%;
		margin: 0;
	}
	.yellow-block, .blue-block {padding: 2rem;}
	.green-little-block {width: 4.9rem;}
	.center-content {width: 80%;}
	.projects-content {width: 100%;}
	.project-card {
		height: 22rem;
		padding: 2rem;
	}
	.contact-wrapper {display: block;}
}




@media (max-width: 719px) {

	.mobile-menu-btn {
		width: 3rem;
		height: 3rem;
		top: .8rem;
		left: .8rem;
	}
	.mobile-menu {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 99;
	}
	.mobile-nav-item {
		color: #fff;
		font-weight: 700;
		letter-spacing: .1rem;
		font-size: 2.1rem;
		padding: 1rem;
	}
	.intro-section {display: none;}
	.mobile-header {
		padding: 1rem 2rem;
		position: static;
	}
	.main-logo {
		font-size: 1.2rem;
		line-height: 1rem;
	}
	.main-logo-subtitle {margin-top: .5rem;}
	.section-content {width: 90%; padding: 1rem;}
	.about-heading {display: none;}
	.center-content {width: 90%;}
	.projects-grid {
		width: 100%;
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		-ms-grid-rows: 1fr;
		grid-template-rows: 1fr;
	}
	.project-card {
		width: 100%; 
		height: auto;
	}
	.skills-container {padding: 0; margin: 0;}
	.img-container {
		width: 100%; 
		padding: 1rem; 
		margin: 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		text-align: center;
	}
	.skill-link, .skill-description {width: 100%;}
	.skill-logo {
		max-width: 6rem;
		width: auto;
		max-height: 6rem;
		height: auto;
	}
	.description-heading {
		margin: .5rem 0;
	}
	.contact-wrapper {display: block;}
	.phone-number {font-size: 1.2rem;}
	.footer-contact-icon {
		width: 2rem;
		height: 2rem;
	}
}
